= page_header(t('resources.cleanup.failure.title'))
-# body
= markdown(t('resources.cleanup.failure.caption'))
= render('layouts/steps/resource_list', resources: @resources, title: t('engines.rancher_on_eks.wrapup.resources.subtitle'))
