---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/[tenant]/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=[app_id]&client_secret=[password_encoded]&resource=https%3A%2F%2Fmanagement.azure.com%2F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3599","ext_expires_in":"3599","expires_on":"1693962299","not_before":"1693958399","resource":"https://management.azure.com/","access_token":"[token]"}'
  recorded_at: Wed, 06 Sep 2023 00:04:59 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/[subscription]/providers/Microsoft.Compute/locations/westus2/vmSizes?api-version=2023-03-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "[token]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/GetSubscriptionInfo3Min;357
      X-Ms-Ratelimit-Remaining-Subscription-Reads:
      - '11998'
    body:
      encoding: UTF-8
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_M208ms_v2\",\r\n
        \     \"numberOfCores\": 208,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        4194304,\r\n      \"memoryInMB\": 5836800,\r\n      \"maxDataDiskCount\":
        64\r\n    },\r\n    {\r\n      \"name\": \"Standard_M208s_v2\",\r\n      \"numberOfCores\":
        208,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        4194304,\r\n      \"memoryInMB\": 2918400,\r\n      \"maxDataDiskCount\":
        64\r\n    },\r\n    {\r\n      \"name\": \"Standard_M416-208s_v2\",\r\n      \"numberOfCores\":
        416,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        8388608,\r\n      \"memoryInMB\":[...]
