# SUSE Rancher Setup - external configuration
# The commented keys will be loaded into the application configuration.
# Only documented keys are accepted.

shared:

  # Which engines are loaded for this workflow?
  # * Order determines menu order
  # * Engines without UI components should be last
  engines:
    - AWS
    - ShirtSize
    - RancherOnEks
    - Helm

  # Where are we installing Rancher from? (passed to _helm_)
  rancher:
    repo_name: rancher-stable
    repo_url: https://releases.rancher.com/server-charts/stable
    chart: rancher-stable/rancher
    release_name: rancher-stable
    version:

  # What version of kubernetes will be deployed?
  rancher_on_eks:
    k8s_version: 1.22
