---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/[tenant]/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=[app_id]&client_secret=[password_encoded]&resource=https%3A%2F%2Fmanagement.azure.com%2F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3599","ext_expires_in":"3599","expires_on":"1691550499","not_before":"1691546599","resource":"https://management.azure.com/","access_token":"[token]"}'
  recorded_at: Wed, 09 Aug 2023 02:08:19 GMT
[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/[subscription]/providers/Microsoft.Network/dnszones?api-version=2018-05-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "[token]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
      - '499'
      X-Ms-Ratelimit-Remaining-Subscription-Resource-Entities-Read:
      - '59998'
    body:
      encoding: UTF-8
      string: '{"value":[{"id":"\/subscriptions\/[subscription]\/resourceGroups\/jmason-dns\/providers\/Microsoft.Network\/dnszones\/azure.bear454.com","name":"azure.bear454.com","type":"Microsoft.Network\/dnszones","etag":"a238b93f-e46a-44f6-a8ec-34f0f5375701","location":"global","tags":{"owner":"jmason@suse.com"},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-01.azure-dns.com.","ns2-01.azure-dns.net.","ns3-01.azure-dns.org.","ns4-01.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}},{"id":"\/subscriptions\/[subscription]\/resourceGroups\/yorg-dns\/providers\/Microsoft.Network\/dnszones\/yorgdns.com","name":"yorgdns.com","type":"Microsoft.Network\/dnszones","etag":"04321d04-6443-40f6-998b-e102bbf62624","location":"global","tags":{"Department":"bcl","Environment":"development","Group":"cloud-solutions","Owner":"jgordon","Stakeholder":"dominic_d_vieira"},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-02.azure-dns.com.","ns2-02.azure-dns.net.","ns3-02.azure-dns.org.","ns4-02.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}]}'
      vcr_decompressed: gzip
  recorded_at: Wed, 09 Aug 2023 02:08:20 GMT
[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/[subscription]/providers/Microsoft.Compute/locations/westus3/vmSizes?api-version=2023-03-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "[token]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/GetSubscriptionInfo3Min;359
      X-Ms-Ratelimit-Remaining-Subscription-Reads:
      - '11999'
    body:
      encoding: UTF-8
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_B1ls\",\r\n
        \     \"numberOfCores\": 1,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        4096,\r\n      \"memoryInMB\": 512,\r\n      \"maxDataDiskCount\": 2\r\n    },\r\n
        \   {\r\n      \"name\": \"Standard_B1ms\",\r\n      \"numberOfCores\": 1,\r\n
        \     \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\": 4096,\r\n
        \     \"memoryInMB\": 2048,\r\n      \"maxDataDiskCount\": 2\r\n    },\r\n
        \   {\r\n      \"name\": \"Standard_B1s\",\r\n      \"numberOfCores\": 1,\r\n
        \     \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\": 4096,\r\n
        \     \"memoryInMB\": 1024,\r\n      \"maxD[...]
[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/[subscription]/providers/Microsoft.Compute/skus?$filter=location%20eq%20%27westus3%27&api-version=2023-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "[token]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Subscription-Reads:
      - '11999'
    body:
      encoding: UTF-8
      string: '{"value":[{"resourceType":"availabilitySets","name":"Aligned","locations":["WestUS3"],"locationInfo":[{"location":"WestUS3","zones":[],"zoneDetails":[]}],"capabilities":[{"name":"MaximumPlatformFaultDomainCount","value":"3"}],"restrictions":[]},{"resourceType":"availabilitySets","name":"Classic","locations":["WestUS3"],"locationInfo":[{"location":"WestUS3","zones":[],"zoneDetails":[]}],"capabilities":[{"name":"MaximumPlatformFaultDomainCount","value":"3"}],"restrictions":[]},{"resourceType":"disks","name":"PremiumV2_LRS","tier":"Premium","size":"P","locations":["westus3"],"locationInfo":[{"location":"westus3","zones":["3","2","1"],"zoneDetails":[]}],"capabilities":[{"name":"MaxSizeGiB","value":"65536"},{"name":"MinSizeGiB","value":"1"},{"name":"MaxIOpsReadWrite","value":"80000"},{"name":"MinIOpsReadWrite","value":"3000"},{"name":"MaxBandwidthMBpsReadWrite","value":"1200"},{"name":"MinBandwidthMBpsReadWrite","value":"125"},{"name":"MaxValueOfMaxShares","value":"15"},{"name":"MinIOSizeKiBps","value":"4"},{"name":"MaxIOSizeKiBps","value":[...]
