---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/[tenant]/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=[app_id]&client_secret=[password_encoded]&resource=https%3A%2F%2Fmanagement.azure.com%2F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3599","ext_expires_in":"3599","expires_on":"1691551451","not_before":"1691547551","resource":"https://management.azure.com/","access_token":"[token]"}'
  recorded_at: Wed, 09 Aug 2023 02:24:11 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/[subscription]/providers/Microsoft.ContainerService/locations/westus3/kubernetesVersions?api-version=2023-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "[token]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ms-Ratelimit-Remaining-Subscription-Reads:
      - '11999'
    body:
      encoding: UTF-8
      string: |-
        {
          "values": [
           {
            "version": "1.27",
            "capabilities": {
             "supportPlan": [
              "KubernetesOfficial",
              "AKSLongTermSupport"
             ]
            },
            "patchVersions": {
             "1.27.1": {
              "upgrades": [
               "1.27.3"
              ]
             },
             "1.27.3": {
              "upgrades": []
             }
            }
           },
           {
            "version": "1.24",
            "capabilities": {
             "supportPlan": [
              "KubernetesOfficial"
             ]
            },
            "patchVersions": {
             "1.24.10": {
              "upgrades": [
               "1.24.15",
               "1.25.6",
               "1.25.11"
              [...]
