---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/[tenant]/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=[app_id]&client_secret=[password_encoded]&resource=https%3A%2F%2Fmanagement.azure.com%2F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3599","ext_expires_in":"3599","expires_on":"1693962176","not_before":"1693958276","resource":"https://management.azure.com/","access_token":"[token]"}'
  recorded_at: Wed, 06 Sep 2023 00:02:56 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/[subscription]/providers/Microsoft.ContainerService/locations/westus3/kubernetesVersions?api-version=2023-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "[token]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ms-Ratelimit-Remaining-Subscription-Reads:
      - '11997'
    body:
      encoding: UTF-8
      string: |-
        {
          "values": [
           {
            "version": "1.25",
            "capabilities": {
             "supportPlan": [
              "KubernetesOfficial"
             ]
            },
            "patchVersions": {
             "1.25.11": {
              "upgrades": [
               "1.26.6",
               "1.26.3"
              ]
             },
             "1.25.6": {
              "upgrades": [
               "1.26.6",
               "1.26.3",
               "1.25.11"
              ]
             }
            }
           },
           {
            "version": "1.27",
            "capabilities": {
             "supportPlan": [
              "KubernetesOfficial",
              "AKSLongTermSupport"
             ]
            },
            "patchVersions": {
             "1.27.1": {
              "upgrades": [
               "1.27.3"
              ]
             },
             "1.27.3": {
              "upgrades": []
             }
            }
           },
           {
            "version": "1.26",
            "capabilities": {
             "supportPlan": [
              "KubernetesOfficial"
             ]
            },
            "patchVersions": {
             "1.26.3": {
              "upgrades": [
               "1.27.3",
               "1.27.1",
               "1.26.6"
              ]
             },
             "1.26.6": {
              "upgrades": [
               "1.27.3",
               "1.27.1"
              ]
             }
            }
           }
          ]
         }
  recorded_at: Wed, 06 Sep 2023 00:02:57 GMT
recorded_with: VCR 6.1.0
