%li.menu-item
  %div.menu-element
    %a.main-collapsed-single.js-select-current-parent.js-feature-flag{href: target}= caption
  %a.menu-title.js-select-current-parent.js-feature-flag{href: target}
    %i.eos-icons-outlined= icon
    %span.menu-title-content= caption
