%li.menu-item.no-link
  %div.menu-element
    %span.main-collapsed-single= caption
  %span.menu-title{class: [disabled_class(target), selected_class(target)]}
    %i.eos-icons-outlined= icon
    %span.menu-title-content= caption
