---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/[tenant]/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=[app_id]&client_secret=[password_encoded]&resource=https%3A%2F%2Fmanagement.azure.com%2F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3599","ext_expires_in":"3599","expires_on":"1691546421","not_before":"1691542521","resource":"https://management.azure.com/","access_token":"[token]"}'
  recorded_at: Wed, 09 Aug 2023 01:00:21 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/[subscription]/providers/Microsoft.Compute/locations/swedencentral/vmSizes?api-version=2023-03-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "[token]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/GetSubscriptionInfo3Min;358
      X-Ms-Ratelimit-Remaining-Subscription-Reads:
      - '11999'
    body:
      encoding: UTF-8
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_NC4as_T4_v3\",\r\n
        \     \"numberOfCores\": 4,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        180224,\r\n      \"memoryInMB\": 28672,\r\n      \"maxDataDiskCount\": 8\r\n
        \   },\r\n    {\r\n      \"name\": \"Standard_NC8as_T4_v3\",\r\n      \"numberOfCores\":
        8,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        360448,\r\n      \"memoryInMB\": 57344,\r\n      \"maxDataDiskCount\": 16\r\n
        \   },\r\n    {\r\n      \"name\": \"Standard_NC16as_T4_v3\",\r\n      \"numberOfCores\":
        16,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        360448,\r\n      \"memoryInMB\": 11[...]
